body {
}

#ping-pong {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#items-basket {
  display: flex;
  flex-direction: row;
}

#item-list {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#basket-checkout {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#basket {
  display: flex;
  flex-direction: column;
}

.price {
  text-align: right;
}

.total-price {
  text-align: right;
}

.remove-item {
  /* margin-left: 20px; */
}
